@font-face {
  font-family: 'OpenSansRegular';
  src:
    local('OpenSansRegular'),
    url(./fonts/ObjectSansRegular.otf) format('opentype');
}
:root {
  --maximumwidth: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 3vw;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2vw;
  max-width: 100vw;
}

.wrapper {
  grid-column: 3 / span 8;
  margin: 0 auto;
}

h1 {
  font-family: 'OpenSansRegular';
  text-transform: uppercase;
  font-size: 6.125rem;
  font-weight: 400;
  text-align: center;
}

hgroup p {
  max-width: 100%;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.25rem;
}

.background-renderings {
  position: absolute;
  overflow-x: hidden;
  max-width: 100vw;
  z-index: -10;
}

/* .backgroundImage:nth-child(uneven) {
  padding-left: 30vw;
} */
/*
img {
  margin-right: auto;
  max-height: 45vw;
} */
