.backgroundImage {
  display: flex;
  justify-content: space-between;
  column-gap: 50vw;
  margin-left: -10vw;
}

img {
  max-width: 33vw;
}

img:first-child {
  transform: translate3d(0px, -0.05416vw, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}

img:nth-child(2) {
  transform: translate3d(0px, 9.54882vw, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(25deg) skew(0deg, 0deg);
}
