.infoBox {
  display: flex;
  justify-content: space-between;
  max-width: 60vw;
  border: 1px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 0.8vw 3.5vw 0.5vw 4vw;
  gap: 4vw;
  background-color: white;
  margin-top: -4vw;
  margin-bottom: 5vw;

  h2 {
    font-family: 'ObjectSansRegular';
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 0.9;
    letter-spacing: -2.8px;
    margin: 0 auto;
  }

  p {
    font-size: 1.125rem;
    padding-left: 3vw;
  }

  img {
    max-width: 100px;
  }
}
